@import "../variables";

.slide-editor {
  width: 85%;
  background-color: #007bff;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  border-radius: $border-radius;
}

@media (max-width: 768px) {
  .slideEditor {
    width: 100%;
    height: 70%;
  }
}                              