/* index.css */

/* Сброс стандартных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: #333;
  overflow-x: hidden;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
