@import "../variables";

.tool-bar {
  height: 20%;
  min-height: 150px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid $border-color;
}